:root {
    --primary: white;
    --secondary: #121212;
    --active: #23B5D3;
    --active-dark: #75ABBC;   
    --background: #DFE0E2;
    --background-dark: #1d1f20;

    --shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
    --highlight: rgba(128, 128, 128, 0.15) 2px 2px 3px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Arvo", serif;
    background-color: var(--background);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--secondary);
    background-color: var(--background);
}

body.dark-theme {
    background-color: var(--secondary);
}

body.dark-theme main {
    color: var(--primary);
    background-color: var(--background-dark);
}

/* Header and Footer */

header, footer {
    text-align: center;
    background-color: var(--primary);
    color: var(--secondary);
}

header {
    position: sticky;
    top: 0;
    padding: 1rem;
    box-shadow: var(--shadow);
}

body.dark-theme header, body.dark-theme footer {
    background-color: var(--secondary);
    color: var(--primary);
}

body.dark-theme header {
    box-shadow: var(--highlight);
}

/* Container Elements */

.box {
    border-radius: 8px;
    padding: 1rem;
    box-shadow: var(--shadow);
    background-color: var(--primary);
    color: var(--secondary);
}

body.dark-theme .box {
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: var(--highlight);
}

/* Scrollbar */

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--secondary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--active);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--active-dark);
}

/* Remove scrollbar arrows/buttons */
body::-webkit-scrollbar-button {
    display: none;
}

/* Firefox scrollbar */
@-moz-document url-prefix() {
    :root {
        scrollbar-color: var(--active) var(--secondary);
        scrollbar-width: 8px;
    }
}